@model SurveyTool.Web.Views.Survey.SurveyModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Survey.Name</h1>

<div class="alert alert-info">
    @Html.Raw(Model.Survey.Description.Replace("\n", "<br />\n"))
</div>

<form method="post" action="/survey/answer/create/@Model.Survey.Id" class="text-center">
    <input type="submit" value="Start enquête" class="btn btn-primary btn-lg" />
</form>