@model SurveyTool.Web.Views.Shared.ViewModelBase

<h2>@Model.Title</h2>

<p>
    We do not collect, sell, rent or trade email lists or any data with other companies and businesses. This Privacy Policy will provide detailed information on when and why we collect your personal information, how we use it, the limited conditions under which we may disclose it to others and how we keep it secure.
</p>
<h3>Marketing</h3>
<p>
    We do not collect any contact information and we will never send you any direct communications unless you explicitly consent.
</p>
<h3>Links to Other Web Sites</h3>
<p>
    This privacy notice does not cover the links within this site linking to other websites. Those sites are not governed by this Privacy Policy, and if you have questions about how a site uses your information, you’ll need to check that site’s privacy statement.
</p>
<h3>Security</h3>
<p>
    We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.

    @*Wherever we collect sensitive information, that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a lock icon in the address bar and looking for “https” at the beginning of the address of the web page.*@

    @*While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.*@
</p>
<h3>Changes to this Privacy Policy</h3>
<p>
    VerpakkingsVrij may change this policy from time to time by updating this page. This policy is effective from 20th November 2019.
</p>
