@model SurveyTool.Web.Views.SurveyAnswer.SurveyAnswerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

@{ 
    var questions = Model.Questions.ToList();
}
@for (var i = 0; i < questions.Count(); i++)
{
    // todo: find generic way to show different kinds of questions
    var question = questions[i];

    <h3>@question.Title</h3>

    <p>
        @* todo: howto make using extensions less cumbersome in razor core *@
        @SurveyTool.Web.Extensions.HtmlHelperExtensions.Question(Html).Text(m => m.Questions[i].AnswerText)
    </p>
}