@model SurveyTool.Web.Views.SurveyAnswer.SurveyAnswerModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>

@foreach(var question in Model.Page.Questions)
{
    // todo: find generic way to show different kinds of questions

 <h3>@question.Title</h3>

 <p>
     @question.AnswerText
 </p>
}